body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-family: Comic;
	font-size: 1.3em;
	text-align: center;
}

table {
	font-family: Georgia;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	/*cellspacing: 0px;*/
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
html {
	background-color: pink;
}